body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: auto;
	width: 90%;
	/* max-width: 38rem; */
	/* padding: 2rem; */
}

#config-head {
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-bottom: 3px solid black;
}

#config-body {
	padding-top: 70px;
}

.directory-selector {
	border: 2px solid black;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 2px;
	padding-bottom: 4px;
}

.current-selection {
	margin-left: 0px;
	background-color: darkgray;
}

.framed {
	border: 2px solid black;
}

.inner-column {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.main-preview-image {
	/* border: 1px solid black; */
	width: 100%;
}

.preview-image {
	/* border: 1px solid black; */
	width: 100%;
}

.mainImage {
	width: 100%;
}

.choiceImage {
	width: 100%;
}

.thickSeparator {
	border: 3px solid black;
}

.thinSeparator {
	border: 1px solid black;
}

.testImage {
	margin: auto;
	width: 50px;
}

.nextTrialScreen {
	position: absolute; 
	top: 0; 
	left: 0; 
	display:flex; 
	justify-content:center; 
	align-items:center; 
	width:100%; 
	height:100%;
}

.experimentScreen {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index:-1;
}

#waitscreen {
	display:flex; 
	justify-content:center; 
	align-items:center; 
	width:100%; 
	height:100%;
	z-index:-2;
}

.nextTrialCount {
	position: absolute;
    top:  25%;
    left: 50%;
    transform: translate(-50%,-50%);

	font-size: 3rem;
	text-align: center;
}

.nextTrialInstructions {
	position: absolute;
    top:  75%;
    left: 50%;
    transform: translate(-50%,-50%);

	font-size: 2rem;
	text-align: center;
}

#results {
	visibility: hidden;
}